#back-link{
    position: fixed;
    width: 81px;
    height: 38px;
    font-size: 20px;
    font-family: auto;
    font-weight: bold;
    background-color: var(--secondary-color);
    border-radius: 8px;
    border: 0;
    margin: 24px;
}

#job-application-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.something {
  /*TEMPORARILY REMOVED*/
  /*border: 3px solid #2F8D46;*/
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
  width: 500px;
  overflow-y: clip;
  height: 671px;
  background: rgb(255, 255, 255);
  background-size: contain;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}